{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    {{ dump(products) }}

    <h3>Products Page</h3>
    {% for product in products %}
        <div>{{product.title}}</div>

    {% endfor %}
{% endblock %}
